*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item1-main{
    width: 99vw;
    height: 300vh;
    /* border: 2px solid black; */
    display: flex;
}
.item1-main-head{
    width: 99vw;
    height: 6vh;
    border-top: 2px solid black;
    background-color: #dde4e4;
}
.item1-main-left{
    width: 22vw;
    height: 100%;
    /* border-right: 1px solid black; */
    background-color: #dde4e4;
    /* overflow-y: scroll; */
}

.item1-main-left-head{
    width: 100%;
    height: 8vh;
    border-top: 2px solid black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 600;
}
.item1-main-left-category{
    width: 100%;
    height: 47vh;
    border-top: 3px solid black;
}
.item1-main-left-category-head{
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid black;
    font-size: 1.7rem;
    font-weight: 600;
    padding-left: 20px;
}
.item1-main-left-category ul li{
    width: 100%;
    height: 5vh;
    border-top: 1px solid black;
    margin-top: 2px;
    font-size: 1.4rem;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.item1-main-left-category ul li input{
    width: 15px;
}

.item1-main-left-brands{
    width: 100%;
    height: 50vh;
    border-top: 3px solid black;
    display: grid;
    grid-template-rows: repeat(8,5vh);
    gap: 4px;
}
.item1-main-left-brand-child{
    width: 100%;
    height: 5vh;
    border-top: 1px solid black;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
}
.item1-main-left-brands-head{
    width: 100%;
    height: 5.5vh;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom: 1px solid black;
}
.item1-main-left-brand-child p{
    width: 70%;
    /* border: 2px solid black;    */
    display: flex;
    align-items: center; 
}
.item1-main-left-brand-child input{
    width: 15px;
    cursor: pointer;
}




.item1-main-right{
    width: 77vw;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6,50vh);
    gap: 5px;
    /* border: 2px solid black; */
    
}
.item1-main-right-child{
    width: 77vw;
    height: 50vh;
    /* border: 2px solid black; */
    display: flex;
    border: 1px solid black;
}
.item1-main-right-child-img{
    width: 25vw;
    height: 100%;
    border-right: 1px solid black;
}
.item1-main-right-child-img:hover{
    background-size: 107%;
}
.item1-img1{
    background-image: url(image/phone1.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item1-img2{
    background-image: url(image/laptop1.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item1-img3{
    background-image: url(image/gamingpc2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item1-img4{
    background-image: url(image/sam-tv.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item1-img5{
    background-image: url(image/milap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item1-img6{
    background-image: url(image/earbuds.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item1-main-right-child-content{
    width: 75vw;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    padding-left: 10px;
}
.item1-main-right-text{
    width: 70%;
    height: 100%;
    /* border: 2px solid red; */
    padding-top: 10px; 
}
.item1-main-right-text-head{
    width: 100%;
    height: 20%;
    /* border: 2px solid black; */
    font-size: 1.7rem;
    
}
.item1-main-right-text-list{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    padding-left: 10px;
    margin-top: 10px;
    padding-left: 40px;
}
.item1-main-right-text-list ul li{
    font-size: 20px;
    padding-top: 12px;
}
.item1-main-right-content{
    width: 30%;
    height: 100%;
    /* border: 2px solid purple; */
    flex-direction: column;
}
.item1-main-right-price{
    width: 100%;
    height: 70%;
    /* border: 2px solid blue; */
    flex-direction: column;
    align-items: center;
}
.item1-main-right-price sup{
    font-size: 15px;
}
.item1-main-right-price p{
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    /* border: 2px solid black; */
    /* display: flex; */
}
.item1-main-right-price  span{
    display: flex;
    font-size: 15px;
    width: 100%;
    height: 20%;
    color: gray;
    /* border: 2px solid black; */
    gap: 10px;
    padding-left: 30px;
    
}
.item1-main-right-price span  h6{
    text-decoration: line-through;
    font-size: 15px;
}
.item1-main-right-btn{
    width: 100%;
    height: 30%;
    /* border: 2px solid yellow; */
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1-main-right-btn button{
    width: 70%;
    height: 40%;
    /* border: 2px solid yellow; */
    background-color: rgb(255, 204, 0);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.item1-main-right-btn button:hover{
    width: 73%;
    height: 43%;
     font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: green;
}
@media(max-width:430px){
    .item1-main-right-child{
        width: 100vw;
    }
    .item1-main-left{
        display: none;
    }
    .item1-main-right-child-content{
        flex-direction: column;
        width: 50%;
    }
    .item1-img1 {
        width: 50%;
    }
    .item1-img2 {
        width: 50%;
    }
    .item1-img3 {
        width: 50%;
    }
    .item1-img4 {
        width: 50%;
    }
    .item1-img5 {
        width: 50%;
    }
    .item1-img6 {
        width: 50%;
    }
    .item1-main-right-text-list{
        display: none;
    }
    .item1-main-right-text-head{
        font-size: 1.05rem;
    }
    .item1-main-right-content{
        width: 100%;
    }
    .item1-main-right-price span {
    padding-left: 29px;
    padding-top: 35px;
    }
    .item1-main-right-price {
    height: 50%;
    }
    .item1-main-right-btn {
    width: 100%;
    height: 60%;
    /* border: 2px solid yellow; */
    padding-left: 0px;
    }
}