
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f9fafa */
    font-family: sans-serif;
}
header{
    height: 5vw;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header p{
    color: white;
}
header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 5%;
    cursor: pointer;
   
    
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
   

}

nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: white;
}
nav .logo{
    font-size: 45px;
    font-weight: 600;
    font-family: Calibri;
    margin-left: 30px;
}
nav .icons{
    display: flex;
    gap: 30px;
    font-size: 21px;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.usl{
    display: flex;
}
nav .icons .usl p a{
    text-decoration: none;
    color: black;
    

}

.menu{
    display: flex;
    height: 6vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #dde4e4;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: sans-serif;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.menu ul li a:hover{
    color: blue;
    
}
#main{
    display: flex;
    
}

#main .main-img{
    display: flex;
    width: 100%;
    height: 80vh;
    
    background-image: url(image/photo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; 
    flex-direction: column;
}
#main .main-img .red-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    font-size: 20px;
    background-color: #D72D2D;
    color: white;
   margin-left: 9%;
    margin-top: 15vh;
}
#main .main-img .main-content{
    display: flex;
    font-size: 60px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
    /* margin-top: 25vh; */
    margin-left: 9%;
    /* -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black; */
}
#main .main-img .main-text{
    font-size: 25px;
    font-weight: 10;
    font-family:  sans-serif;
    margin-left: 9%;
}
.main-btn{
    display: flex;
    width: 12vw;
    height: 8vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 12%;
    border-radius: 25px;
    background-color: blueviolet;
    color: white;
    font-weight: 50;
    font-family: sans-serif;
    cursor: pointer;
}

.main-btn:hover{
    color: blueviolet;
    background-color: white;
}

 /* Main 2 start here */
#main-2{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dde4e4;
}
#main-2 .main2{
    width: 45%;
    height: 90%;
  
    
}
#img1{
    height: 100%;
    width: 100%;
     background-image: url(image/elephoto.avif);
    background-repeat: no-repeat;
    background-size: cover;
  
}
 
#img2{
    height: 100%;
    width: 100%;
    background-image: url(image/headphone1.avif);
    background-repeat: no-repeat;
    background-size: cover;
} 
#main-2 .main2-content{
    color: white;
    flex-direction: column;
    display: flex;
    margin-left: 30px;
    margin-top: 10%;
    
    
}
.main2-text{
    font-size: 30px;
    font-weight: 200;
 
    font-family: sans-serif;
    
}

.main2-dis{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
}
.main2-btn{
    margin-top: 15px;
    display: flex;
    width: 20%;
    height: 6vh;
    border: .5px solid white;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 100;
    font-size:3vh ;
    border-radius: 40px;
    cursor: pointer;
    font-family: sans-serif;
}
.main2-btn:hover{
    background-color: transparent;
}

/* main 3 start here */
.main-3{
    width: 100%;
    height: 40vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde4e4;
}
.main3-box{
    display: flex;
    width: 93%;
    height: 80%;
   
    flex-direction: row;
    background-color: white;
}
.main3-child{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    

}
.main3-child-img1{
    height: 40%;
    width: 30%;
    background-image: url(image/delivery-bike.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 80px;
}
.main3-child-img2{
    height: 40%;
    width: 30%;
    
    background-image: url(image/complete.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.main3-child-img3{
    height: 40%;
    width: 30%;
    
    background-image: url(image/wallet.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.main3-child-img4{
    height: 40%;
    width: 30%;
  
    background-image: url(image/24-7.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.main3-child p{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
}


/* Main 4 start here */


.main-4{
    display: flex;
    height: 100vh;
    width: 100%;

    background-color: #dde4e4;
    justify-content: center;
    align-items: center;
}
.main4-box{
   
    height: 90%;
    width: 93%;
    /* border: 2px solid black; */
    background-color: white;
   
}
.main4-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /* border: 2px solid black; */
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;

}
.main4-items{
    display: grid;
    height: 63vh;
    width: 85vw;
    grid-template-columns: repeat(7,20vw);
    overflow-x: scroll;
    /* border: 2px solid black; */
    gap: 15px;
    scrollbar-width: none;
    margin-left: 60px;
}
.main4-child{
    width: 100%;
    height: 100%;
    border: 2px solid #dde4e4;
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: center;
}
    

.main4-img1{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/tablet.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
     /* border: 2px solid black; */
    
}
.main4-img1:hover{
    background-size: 104%;
}
.main4-img2{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/tablet-2.avif);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img2:hover{
    background-size: 104%;
}
.main4-img3{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/tv.avif);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img3:hover{
    background-size: 104%;
}
.main4-img4{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/wrist.avif);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img4:hover{
    background-size: 104%;
}
.main4-img5{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/smartwatch.png);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img5:hover{
    background-size: 104%;
}
.main4-img6{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/earbuds.png);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img6:hover{
    background-size: 104%;
}
.main4-img7{
    width: 100%;
    height: 70%;
    /* border: 2px solid black; */
    background-image: url(image/powerbank.png);
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.main4-img7:hover{
    background-size: 104%;
}

.main4-content{
    flex-direction: column;
    width: 100%;
    height: 30%;
    /* border: 2px solid black; */
    font-size: 1.3rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    
}
.main4-btn{
    width: 100%;
    height: 20%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main4-btn button{
    background-color: blueviolet;
    border: .5px solid blueviolet;
    color: white;
    width: 15vw;
    height: 8vh;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
}
.main4-btn button:hover{
    background-color: white;
    color: blueviolet;
}
.main4-price{
    color: blueviolet;

   
}
.main4-price span{
    text-decoration: line-through;
}
/* Main 5 starts here */
.main-5{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde4e4;
}
.main-5 .main5-box{
    width: 94%;
    height: 95%;
   
    background-color: white;
}
.main-5 .main5-box .main5-head{
    height: 10%;
    width: 100%;
   
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-content{
    width: 100%;
    height: 90%;

    flex-direction: column;
}
.main5-content1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main5-content2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main5-content1 .main5-child{
    margin-top: 2vh;
    width: 18%;
    height: 95%;
}
.main5-content1-img1{
    width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/samsung-lap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content1-img1:hover{
    background-size: 140%;
}
.main5-content1-img2{
    width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/samsung-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content1-img2:hover{
    background-size: 104%;
}
.main5-content1-img3{
   width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/drone.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content1-img3:hover{
    background-size: 104%;
}
.main5-content1-img4{
   width: 100%;
    height: 75%;
    border-radius: 50%;
     background-image: url(image/tag.png);
    background-color: blueviolet;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content1-img4:hover{
    background-size: 104%;
}
.main5-content1-img5{
    width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/tablet.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content1-img5:hover{
    background-size: 104%;
}
.main5-content2 .main5-child{
    margin-top: 2vh;
    width: 18%;
    height: 95%;
  

}
.main5-child h2{
    width: 100%;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
     cursor: pointer;
   
}
.main5-content2-img1{
    width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/favorites.png);
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content2-img1:hover{
    background-size: 104%;
}
.main5-content2-img2{
   width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/sam-tv.webp);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content2-img2:hover{
    background-size: 104%;
}
.main5-content2-img3{
   width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/wearable.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content2-img3:hover{
    background-size: 104%;
}
.main5-content2-img4{
   width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/speaker.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content2-img4:hover{
    background-size: 104%;
}
.main5-content2-img5{
   width: 100%;
    height: 75%;
    border-radius: 50%;
    background-image: url(image/headphones.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
}
.main5-content2-img5:hover{
    background-size: 95%;
}

/* Main 6 Starts */
.main-6{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #dde4e4;

}
.main6-box{
    width: 94%;
    height: 89%;
    display: flex;
    background-color: white;
    

}
.main6-img{
    width: 63%;
    height: 100%;
    background-image: url(image/laptopAst.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.main6-content {
    width: 37%;
    color: black;
   display: flex;
   flex-direction: column;
   margin-top: 11vh;  
   
   
}
.main6-content .main6-text{
   font-size: 2rem;
   font-weight: 700;
   margin-left: 8vw;
   margin-bottom: 10px;
}
.main6-price{
    font-size: 6rem;
    margin-left: 8vw;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.main6-small{
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 8vw;
    margin-bottom: 10px;
}
.main6-btn{
    display: flex;
    height: 7vh;
    width: 10vw;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    font-size: 1.5rem;
    font-weight: 30;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 12vw;
    margin-top: 3vh;
    border-radius: 30px;
    cursor: pointer;
}
.main6-btn:hover{
    color: blueviolet;
    background-color: white;
}
/* Main 7 Starts Here */
.main-7{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde4e4;
}
.main7-box{
    width: 94%;
    height: 97%;
    background-color: white;
}
.main7-head{
    width: 100%;
    height: 10%;
    font-size: 2.3rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.main7-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}

.main7-child{
    width: 22%;
    height: 100%;
    background-image: url();
    border: 1px solid #dde4e4;
    cursor: pointer;
}
.main7-img1{
    width: 100%;
    height: 70%;
    background-image: url(image/watch1.avif);
    background-size: contain;
    background-position:center;
    border-radius: 50%;
}
.main7-img1:hover{
    background-size: 104%;
}
.main7-img2{
    width: 100%;
    height: 70%;
    background-image: url(image/laptop1.avif);
    background-size: contain;
    background-position:center;
    border-radius: 50%;
}
.main7-img2:hover{
    background-size: 104%;
}
.main7-img3{
    width: 100%;
    height: 70%;
    background-image: url(image/phone1.avif);
    background-size: contain;
    background-position:center;
    border-radius: 50%;
}
.main7-img3:hover{
    background-size: 104%;
}
.main7-img4{
    width: 100%;
    height: 70%;
    background-image: url(image/glass1.avif);
    background-size: contain;
    background-position:center;
    border-radius: 50%;
}
.main7-img4:hover{
    background-size: 104%;
}
.main7-text{
    width: 100%;
    height: 30%;
    flex-direction: column;
    padding-left: 10px;
}
.main7-text p{
    font-size: 1.3rem;
    font-weight: 500;
}
.main7-price{
    color: blueviolet;
    font-size: 1.3rem;
}
.main7-price span{
    text-decoration: line-through;
}
.main7-last{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    
}
.main7-btn{
    display: flex;
    height: 7vh;
    width: 13vw;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    font-size: 1rem;
    font-weight: 30;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    border-radius: 30px;
    cursor: pointer;
}
.main7-btn:hover{
    color: blueviolet;
    background-color: transparent;
}
.main-8{
    width: 100%;
    height:80vh ;
    background-color: #dde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main8-box{
    width: 94%;
    height: 90%;
    background-color: white;
    display: flex;
}
.main8-content{
    width: 40%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.main8-img{
    width: 60%;
    height: 100%;
    background-image: url(image/drone1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: right;
    
}
.main8-redhead{
    display:flex;
    background-color: rgb(202, 23, 23);
    font-size: 1.4rem;
    width: 13vw;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 9vh;
    margin-left: 4vw;
}
.main8-text{
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 3.5vw;
    margin-top: 18px;
}
.main8-dis{
    font-size: 6.5rem;
    margin-left: 2vw;
    margin-top: 18px;
    font-weight: 600;
}
.main8-dis span{
    color: blueviolet;
}
.main8-smalltext{
    font-size: 1.2rem;
    margin-left: 4vw;
    margin-top: 18px;
}
.main8-last{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main8-btn{
    width: 12vw;
    height: 7vh;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main8-btn:hover{
    color: blueviolet;
    background-color: white;
}
/* Main 9 Starts here */
.main-9{
    width: 100%;
    height: 50vh;
    background-color: #dde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .main9-box{
    width: 94%;
    height: 90%;
    background-color: white;
}
.main9-head{
    width: 100%;
    height: 25%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.main9-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main9-child{
    width: 18%;
    height: 70%;
    border: .5px solid #dde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 800;
    color: #dde4e4;
    font-family: Arial, Helvetica, sans-serif;
}
/* Main 10 starts here */
.main-10{
    width: 100%;
    height: 50vh;
    background-color: #dde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main10-box{
    width: 94%;
    height: 90%;
    background-color: rgb(89, 43, 226);
}
.main10-head{
    width: 100%;
    height: 25%;
}
.main10-news{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.main10-text{
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font: caption;
    margin-top: 10px;
}
.main10-mid{
    width: 100%;
    height: 35%;
    flex-direction: column;
    display: flex;
    
}
.main10-emailtext{
    font-size: 1.2rem;
    margin-left: 26vw;
    color: white;
    margin-top: 10px;
}
.main10-emailsearch input{
    width: 30vw;
    height:7vh;
    border-radius: 20px;
    background-color: transparent;
    border: .5px solid white;
    margin-right: 20px;
    padding-left: 20px;
    
}
.main10-emailsearch{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.main10-btn{
    width: 12vw;
    height: 7vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    cursor: pointer;
}
.main10-btn:hover{
    color: black;
    background-color: white;
}
.main10-bottom{
    display: flex;
    padding-left: 26vw;
    color: white;
}
.main10-bottom input{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.main-11{
    width: 100%;
    height: 60vh;
    background-color: #dde4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main11-box{
    width:94%;
    height: 90%;
    background-color: white;
    display: flex;
}
.main11-content{
    width: 40%;
    height: 100%;
    background-color: black;
}
.main11-img{
    width: 60%;
    height: 100%;
    background-image: url(image/laptop-mic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main11-contenthead{
    width: 100%;
    height: 40%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
   padding-top: 10vh;
    font-weight: bold;
    color: white;
}
.main11-contenttext{
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    display: flex;
    padding-left: 8.5vw;
}
.main11-contentlast{
    width: 100%;
    height: 30%;
}
.main11-btn{
    width: 15vw;
    height: 7vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
    color: blueviolet;
    margin-left: 8vw;
    background-color: white;
    cursor: pointer;
}
.main11-btn:hover{
    color: white;
    background-color: blueviolet;
}
footer{
    width: 100%;
    height: 100vh;
    background-color: #dde4e4;
    display: flex;
    justify-content: center;
    
}
.footer-box{
    width: 94%;
    height: 90%;
    background-color: white;
    

}
.footer-section-box {
    display: flex;
    width: 100%;
    height: 70%;

}
.footer-section{ 
    width: 25%;
    height: 100%;
}
.footer-head{
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.footer-text{
    display: flex;
    margin-left: 9.1vw;
    font-size: 1.1rem;
    margin-top: 10px;
}
.footer-text a{
    text-decoration: none;
    color: black;
}
.footer-cs{
    margin-left:4vw;
}
.footer-sl{
    margin-left: 5vw;
}
.footer-icon-box{
    width: 100%;
    height: 30%;

}
.footer-icon-text{ 
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
    font-style: italic;
   
}
.footer-payment-icon{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-pay-child{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: center;
}
.pay-icon{
    width: 5vw;
    height: 7vh;
}
.pay-img1{
    background-image: url(image/rupay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img2{
    background-image: url(image/americanexpress.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img3{
    background-image: url(image/mastercard.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img4{
    background-image: url(image/Visa.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img5{
    background-image: url(image/paytm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}.pay-img6{
    background-image: url(image/phonpe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img7{
    background-image: url(image/googlepay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pay-img8{
    background-image: url(image/PayPal.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}